/*[hidden] { display: none; }*/

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

div.awesomplete {
	display: block;
	position: relative;
}

div.awesomplete > ul {

	position: absolute;
	left: 0;
	z-index: 1;
	min-width: 100%;

	background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

div.awesomplete > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%);
    // color: white;

    // color: white;
}