#login-page {
    .card-panel {
        margin: 50px auto;
        @media #{$medium-and-up} {
            width: 500px;
        }
    }
    .site-title {
        font-size: 2rem;
        @extend .center;
        @extend .flow-text;
        color: darken($primary-color, 15%);
        margin-bottom: 50px;
    }

    .login-icon {
        @extend .center;
        .login-icon-bg
        {
            @extend .circle;
            background-color: color("grey", "lighten-3");
            color: color("grey", "lighten-1");
            display: inline-block;
            height: 96px;
            width: 96px;
        }
        i.material-icons
        {
            @extend .large;
        }
    }

}