@charset "UTF-8";

/*** Fonts ***/
$icons-font-path: "../materialize/font/material-design-icons/";
$roboto-font-path: "../materialize/font/roboto/";

$primary-color-dark: #388E3C;
$primary-color: #4CAF50;
$primary-color-light: #C8E6C9;
$primary-color-text: #FFFFFF;
$accent-color: #607D8B;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

$button-color: #558b2f;
// $button-color-raised: #1b5e20;


@import "materialize/materialize";

body {
    position: relative;
}

@media #{$medium-and-down} {

}
@media #{$large-and-up} {
    header { padding-left: 240px }
    main { padding-left: 278.75px }
    .nav-wrapper { padding-left: 50px }
}

#main-action-btn {
    @extend .horizontal;
    position: absolute;
    display: inline-block;
    top: 33px;

    @media #{$medium-and-down} {
        right: 7.5%;
    }
    @media #{$large-and-up} {
        right: 15%;
    }

    a.trigger-btn {
        @extend .btn-floating;
        @extend .btn-large;
        @extend .waves-effect;
        @extend .waves-light;
        background-color: $primary-color-dark;
    }

    a.trigger-btn i {
        -webkit-transform: rotate(90deg) rotateY(0);
        -webkit-transition: all 0.5s;
        -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
        -moz-transform: rotate(90deg);
        -moz-transition: all 0.5s;
        -moz-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
        -o-transform: rotate(90deg);
        -o-transition: all 0.5s;
        -o-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
    }

    a.trigger-btn:hover i {
        -webkit-transform: rotate(0deg) rotateY(0);
        -webkit-transition-delay: 0;
        -o-transition: all 0.5s;
        -moz-transform: rotate(0deg);
        -moz-transition-delay: 0;
        -o-transition: all 0.5s;
        -o-transform: rotate(0deg);
        -o-transition-delay: 0;
        -o-transition: all 0.5s;
    }

    a.trigger-btn:after i {
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    a.trigger-btn:hover:after i {
        display: block;
    }
}

#login-page {
    .card-panel {
        margin: 50px auto;
        @media #{$medium-and-up} {
            width: 500px;
        }
    }
    .site-title {
        font-size: 2rem;
        @extend .center;
        @extend .flow-text;
        color: darken($primary-color, 15%);
        margin-bottom: 50px;
    }

    .login-icon {
        @extend .center;
        .login-icon-bg
        {
            @extend .circle;
            background-color: color("grey", "lighten-3");
            color: color("grey", "lighten-1");
            display: inline-block;
            height: 96px;
            width: 96px;
        }
        i.material-icons
        {
            @extend .large;
        }
    }

}

.side-nav a,
.btn {
    @extend .waves-effect;
    @extend .waves-light;
}

.card-panel {
    background-color: color("grey", "lighten-5");
}

.input-field label {
    width: 100%;
}

#toast-container {
    @media #{$large-and-up} {
        top: auto;
        right: auto;
        left: 24px;
        bottom: 24px;
        max-width: 86%;
    }
}
.toast {
    @media #{$large-and-up} {
        float: left;
    }
}