@charset "UTF-8";

/*** Fonts ***/
$icons-font-path: "../materialize/font/material-design-icons/";
$roboto-font-path: "../materialize/font/roboto/";

$primary-color-dark: #388E3C;
$primary-color: #4CAF50;
$primary-color-light: #C8E6C9;
$primary-color-text: #FFFFFF;
$accent-color: #607D8B;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

$button-color: #558b2f;
// $button-color-raised: #1b5e20;

@import "materialize/materialize";
@import "_side-nav";
@import "_login-page";
@import "_awesomplete";

body {
    position: relative;
}

@media #{$large-and-up} {
    header { padding-left: 240px }
    main { padding-left: 278.75px }
    .nav-wrapper { padding-left: 50px }
}

#wsScore {
    @extend .hide-on-med-and-down;
    margin-top: 30px;
}

.btn {
    @extend .waves-effect;
    @extend .waves-light;
    @extend .waves-green;
}

.card-panel {
    background-color: color("grey", "lighten-5");
}

.input-field label {
    width: 100%;
}