#confirmModal.ui.small.standard.modal
    .header
        | Archive Old Messages
    .content
        p.description Are you sure?
    .actions
        .ui.negative.button
            | No
        .ui.positive.right.labeled.icon.button
            | Yes
            i.checkmark.icon
