.ui.sidebar.inverted.vertical.menu
    .item.teal Absinthe Reviewer

    a.item(href="/review") Reviews

    a.item(href="/usermanager") Users

    if (!user)
        a.item(href="/register") Register
        a.item(href="/login") Login
    a.item(href="/logout") Logout
    if (user)
        p.item You are currently logged in as #{user.username}
