menu(class="ui inverted menu")
    div(class="ui container")
        a(href="#", class="header item teal") Absinthe Reviewer
        a(href="/", class="header item") Home
        
        if (!user)
            a.header.item(href="/register") Register
            a.header.item(href="/login") Login
        if (user)
            a.header.item(href="/usermanager/list") List Users
            a.header.item(href="/logout") Logout
            p.item You are currently logged in as #{user.username}

    
        //- div(class="menu")
        //-     div(class="ui simple dropdown item") Sub Menu #[i(class="dropdown icon")]
        //-         div(class="menu")
        //-             a(href="#", class="item") Item One
        //-             a(href="#", class="item") Item Two
        //-             div(class="divider")
        //-             a(href="#", class="item") Item Three
        //-             a(href="#", class="item") Item Four
