li.header: a.brand-logo.large(href="/") Absinthe Reviewer

li.header Pages

li
    a.collapsible-header.waves-effect(href="#")
        i.material-icons.right arrow_drop_down
        i.material-icons: img(src="/images/absintheglass.svg", height="24")
        | Absinthes
    ul.collapsible-body
        li: a.waves-effect(href="/absinthes") List Absinthes
        li: a.waves-effect(href="/absinthes/create") Add an Absinthe

li
    a.collapsible-header.waves-effect(href="#")
        i.material-icons.right arrow_drop_down
        i.material-icons star
        | Reviews
    ul.collapsible-body
        li: a.waves-effect(href="/reviews") List Reviews
        li: a.waves-effect(href="/reviews/create") Add a Review

li
    a.collapsible-header.waves-effect(href="#")
        i.material-icons.right arrow_drop_down
        i.material-icons people
        | Accounts
    ul.collapsible-body
        li: a.waves-effect(href="/accounts") List Accounts
        li: a.waves-effect(href="/accounts/create") Add an Account

li.header Management

li
    a.collapsible-header.waves-effect(href="#")
        i.material-icons.right arrow_drop_down
        i.material-icons info_outline
        | Info
    ul.collapsible-body

        li: a.collapsible-header.waves-effect(href="/information/intro")
            | How it works

        li: a.collapsible-header.waves-effect(href="/information/preparing")
            | Preparing absinthe

        li: a.collapsible-header.waves-effect(href="/information/tasting")
            | Tasting absinthe

li: a.collapsible-header.waves-effect(href="/logout")
    i.material-icons power_settings_new
    | Logout
