nav: .nav-wrapper
    a.brand-logo(href="/") Absinthe Reviewer
    a(href="#" data-activates="mobile-demo" class="button-collapse")
        i.material-icons menu

    if (user)
        ul.right.hide-on-med-and-down#nav-mobile
            include ./menutoplinks

        ul.side-nav#mobile-demo
            include ./menutoplinks