// .navbar-fixed: nav: .nav-wrapper
//     a.brand-logo(href="/") Absinthe Reviewer
//     ul(id="nav-mobile", class="right hide-on-med-and-down")
//         if (user)
//             li: a(href="/review") Reviews
//             li: a(href="/users") Users
//                 li: a(href="/users/add") Add User
//             li: a(href="/usermanager") OldUsers
//             li: a(href="/logout") Logout

//         else
//             li: a(href="/register") Register
//             li:  a(href="/login") Login
