li: a.brand-logo.large(href="/") Absinthe Reviewer

li
    a.collapsible-header.waves-effect(href="#")
        i.material-icons.tiny.right arrow_drop_down
        i.material-icons.tiny star
        | Reviews
    ul.collapsible-body
        li: a.waves-effect(href="/reviews") List Reviews
        li: a.waves-effect(href="/reviews/edit") Add a Review

li
    a.collapsible-header.waves-effect(href="#")
        i.material-icons.tiny.right arrow_drop_down
        i.material-icons.tiny people
        | Users
    ul.collapsible-body
        li: a.waves-effect(href="/users") List Users
        li: a.waves-effect(href="/users/edit") Add a User

li: a.collapsible-header.waves-effect(href="/logout")
    i.material-icons.tiny power_settings_new
    | Logout
