nav: .nav-wrapper
    a.brand-logo(href="/") Absinthe Reviewer
    a(href="#" data-activates="mobile-demo" class="button-collapse")
        i.material-icons menu
    ul.right.hide-on-med-and-down#nav-mobile
        if (user)
            li: a(href="/review") Reviews
            li: a(href="/users") Users
                li: a(href="/users/add") Add User
            li: a(href="/usermanager") OldUsers
            li: a(href="/logout") Logout
        else
            li: a(href="/register") Register
            li:  a(href="/login") Login

    ul.side-nav#mobile-demo
        if (user)
            li: a(href="/review") Reviews
            li: a(href="/users") Users
                li: a(href="/users/add") Add User
            li: a(href="/usermanager") OldUsers
            li: a(href="/logout") Logout
        else
            li: a(href="/register") Register
            li:  a(href="/login") Login
