if (user)
    .ui.top.fixed.menu.inverted
        a.ui.launch.icon.item.button(onclick='$(".ui.sidebar").sidebar("toggle")')
            i.content.icon
        p.right.item You are currently logged in as #{user.username}
