ul.side-nav.fixed.z-depth-3
    a.brand-logo.large(href="/"): strong Absinthe Reviewer
    if (user)
        li: a(href="/reviews") Reviews
        li: a(href="/reviews/edit") Add a Review

        li: a(href="/users") Users
        li: a(href="/users/edit") Add a User

        li: a(href="/logout") Logout

    else
        // li: a(href="/register") Register
        li:  a(href="/login") Login
