extends ../layoutApp

append appContent

    .section

        h4 How the Wormwood Society Absinthe Evaluation System Works

        p.flow-text The structure of the system was based initially on the University of California at Davis 20-Point Scale System Organoleptic Evaluation Scoring Guide for Wine, and adapted for use with absinthe.
        p This guide is designed so that even someone who is relatively new to absinthe can create a useful rating and record.  If you study the criteria and standards in this guide and use them in your review and scoring, you will soon be able to compile a useful historic record of your experiences.  This system was designed for use with the form above and has been adapted for online use so that a cumulative average of scores submitted from many consumers can help advise others as to the most popular and well-made absinthes.

    .divider
    .section
        h5 Structure
        p The system is divided into two parts: the Score and the Comments.  The numeric Score will determine how well an absinthe measures up to expected quality and characteristics; the Comments will serve as a record of your impressions and how well you enjoyed the absinthe.

    .divider
    .section

        h5 The Ratings
        p The ratings are weighted so that more important criteria, such as taste, have a stronger impact on the final score than less important ones, such as appearance.  A five-point rating on flavor is heavier than a five-point rating on louche.  Decimals may be used in increments of 0.5.
        p For those interested in the math, these are the percentages used:
        ul
            li Appearance 16%
            li Louche 16%
            li Aroma 18%
            li Flavor and Mouthfeel 20%
            li Finish 10%
            li Overall Impression 20%
            li Total 100%
        p In this way the general taste and flavor of the absinthe, clearly the most important criteria, are broken into Flavor/Mouthfeel and Finish, sharing 30% of the total score.  These along with Overall Impression account for 50% of the score, leaving the remaining three criteria to share the other 50%, with aroma being the most important of the three.
