extends reviewLayout

block link
    -var selected = '/review';

block extraJavascript
    script.
        $(function(){selectableCheckboxes('table.selectable');});

block reviewBody
    .form
        table.ui.selectable.stackable.raised.table
            thead
                tr
                    th
                        span.ui.master.checkbox
                            input(type="checkbox", name="selectAll")
                    th Title
                    th Author
                    th Absinthe
                    th.right.aligned Actions
            tbody
                if data.length
                    each row in data
                        tr
                            td
                                span.ui.checkbox
                                    input(type="checkbox", value=row.id)
                            td
                                a(href="/review/view?id=#{row.id}")
                                    if (row.title && row.title.length > 0)
                                        =row.title
                                    else
                                        | undefined
                            td= row.author
                            td
                                if row.absinthe
                                    = row.absinthe.make
                            td.right.aligned
                                .ui.small.basic.icon.buttons.actions
                                    a.ui.button(href="/review/delete?review=#{row.id}", title="Delete")
                                        i.trash.icon

                else
                    tr
                        td.center.aligned(colspan="4") No Results


