extends reviewLayout

block link
    -var selected = '/review';

block reviewBody

    -if (data)

        table.ui.celled.padded.selectable.table
            thead
                tr
                    th
                    th Review
                    th Author
                    th Absinthe
                    th Actions
            tbody
                if (data.length)
                    each row in data
                        tr
                            td #[input(type="checkbox", value=row.id)]
                            td #[a(href="/review/view?review=#{row.id}")= row.title]
                            td= row.author
                            td
                                if (row.absinthe)
                                    row.absinthe.make
                                else
                                    | N/A
                            td
                                a.button(href="/review/delete?review=#{row.id}") delete
                else
                    tr
                        td.center.aligned(colspan="4") No Results

        p
        p