extends reviewLayout

block link
    - var selected = '/review'
    script.
        var URL_FOLDER = '/review'

block extraJavascript
    script.
        $(function(){
            selectableCheckboxes('table.selectable');
            $('button#deleteAll').click(function(){
                $('#reviewListForm').form('validate form')
            })

            $('#reviewListForm').form({
                fields: {
                    reviewid: {
                        identifier: 'reviewid',
                        rules: [
                            {
                                type   : 'checked',
                                prompt : 'Please select at least one row to delete.'
                            }
                        ]
                    }
                },
                onSuccess(event, fields) {
                    $('#confirmModal.modal')
                    .modal({
                        closable: true,
                        onApprove: function() {
                            $('form#reviewListForm').attr("action", URL_FOLDER + "/deleteAll").submit()
                            return true
                        }
                    }).modal('show')
                }
            })
        })

block reviewBody

    form#reviewListForm.ui.form(role='form', method='post')

        table.ui.selectable.stackable.raised.table
            thead
                tr
                    th
                        if data.length
                            span.ui.master.checkbox
                                input(type="checkbox", name="selectAll")
                    th Title
                    th Author
                    th Absinthe
                    th.right.aligned Actions

            if data.length
                tbody
                    each row in data
                        tr
                            td
                                .ui.checkbox
                                    input(type="checkbox", name="reviewid", value=row.id)
                            td
                                a(href= "/review/view?id=#{row.id}")
                                    if (row.title && row.title.length > 0)
                                        =row.title
                                    else
                                        | undefined
                            td= row.author
                            td
                                if row.absinthe
                                    = row.absinthe.make
                            td.right.aligned
                                .ui.small.basic.icon.buttons.actions
                                    a.ui.button(href="/review/delete?review=#{row.id}", title="Delete")
                                        i.trash.icon
            else
                tfoot: tr: td.center.aligned(colspan="5") No Results

    include ../includes/confirmModal

