doctype html
html
    block vars
        //- Used to pass data into layout

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title

        block stylesheets
            link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
            link( href='/stylesheets/styles.css', rel='stylesheet', media='screen,projection')

    body

        header#header
            block pageHeader
            //- Header Placeholder

        block topmenu
            //- Top Menu Area

        block sidemenu
            //- Left Menu Area

        #content: block content
            //- Main Layout Content

        block pageFooter
            footer#footer
            //- Footer Placeholder

        block javascripts
            script(src="https://code.jquery.com/jquery-2.2.0.min.js")
            script(src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js")
            script(src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js")
            script(src="/materialize/js/bin/materialize.min.js")
            script(src="/scripts/scripts.js")

            //- Message Handling
            if error && error.length > 0
                script Materialize.toast('#{error}', 4000, 'red lighten-2');
            if success && success.length > 0
                script Materialize.toast('#{success}', 4000, 'green lighten-2');
            if info && info.length > 0
                script Materialize.toast('#{info}', 4000, 'blue lighten-2');
