extends layout

block topmenu

block sidemenu

append pageHeader
    include ./includes/menutop
    include ./includes/menuleft

append content
    main
        .row
            .col.s12.m12.l9

                #appContent: block appContent
                    //- App Layout Content

            #rightColumn.col.s12.m12.l3: block appRightColumn


prepend javascripts

    // include includes/appToolbar
