extends layout

block topmenu
    include ./includes/menutop

block sidemenu
    include ./includes/menuleft

append content

    include includes/appToolbar

    h6.right Logged in as:&nbsp;
        strong
            if (user)
                | #{user.fullName} (#{user.username})
            else
                | Not Logged In

    .container

        if title
            h4.header= title

        #appContent: block appContent
            //- App Layout Content

