doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title

        block stylesheets
            link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
            link( href='stylesheets/styles.css', rel='stylesheet', media='screen,projection')

    body

        block topmenu
            - // Top Menu Area

        block sidemenu
            - // Left Menu Area

        if info && info.length > 0
            .ui.info.message
                i.close.icon
                .header= info

        if success && success.length > 0
            .ui.success.message
                i.close.icon
                .header= success

        if errors && errors.length > 0
            .ui.error.message
                i.close.icon
                .header= error

        block content

        block pageFooter
            - // Footer Placeholder

        block javascripts
            script(src="https://code.jquery.com/jquery-2.2.0.min.js")
            script(src="/materialize/js/bin/materialize.min.js")
            script(src="/scripts/scripts.js")