doctype html
html
    head
        <!-- Standard Meta -->
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title= title
        link(rel='stylesheet', href='/semantic/dist/semantic.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block extraStyles
            style(type="text/css").
                /* Add Extra Styles */
    body.menu.pushable

        include ./includes/mainmenu.jade

        .ui.top.fixed.menu.inverted
            a.ui.launch.icon.item.button(onclick='$(".ui.sidebar").sidebar("toggle")')
                i.content.icon

        .pusher
           #content.ui.container

                if info && info.length > 0
                    .ui.info.message
                        i.close.icon
                        .header= info

                if success && success.length > 0
                    .ui.error.message
                        i.close.icon
                        .header= success

                if error && error.length > 0
                    .ui.success.message
                        i.close.icon
                        .header= error

                block content

            footer
                p &nbsp;
                p &nbsp;
                p &nbsp;

        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
        script(src="/semantic/dist/semantic.min.js")
        script(src="/scripts/scripts.js")
        block extraJavascript
            script.
