extends layout

block append stylesheets
    link(href="stylesheets/page-center.css", rel="stylesheet", media='screen,projection')

block content
    #login-page
        .card-panel
            form.login-form(action="/login", method="post")

                .input-field.active
                    i.mdi-social-person-outline.prefix
                    input(id="username", name="username", type="text", placeholder="Username")
                    label(for="username") Username

                .input-field.active
                    i.mdi-action-lock-outline.prefix
                    input(id="password", name="password", type="password", placeholder="Password")
                    label(for="password") Password

                .input-field
                    input(type="checkbox", id="remember-me")
                    label(for="remember-me") Remember me

                .row
                    .input-field
                        button.btn.waves-effect.waves-light.col.s12(type="submit") Login

                .row
                    .input-field.col.s6
                        .margin.small
                            a(href="/register") Register Now!

                    .input-field.col.s6
                        .right-align.small
                            a(href="/register") Forgot password?
