extends layout

block content

    // Start Page Loading
    .loader-wrapper
        .loader
        .loader-section.section-left
        .loader-section.section-right

    #login-page.row
        .col.s12.z-depth-4.card-panel
            form.login-form(action="/login", method="post")
                .row
                    .input-field.col.s12.center
                        img(src="images/logo.jpg", alt="", class="circle responsive-img valign profile-image-login")
                        p.center.login-form-text Absinthe Reviewer

                .row.margin
                    .input-field.col.s12
                        i.mdi-social-person-outline.prefix
                        input(id="username", name="username", type="text")
                        label(for="username", class="center-align") Username

                .row.margin
                    .input-field.col.s12
                        i.mdi-action-lock-outline.prefix
                        input(id="password", name="password", type="password")
                        label(for="password") Username

                .row
                    .input-field.col.s12.m12.l12.login-text
                        input(type="checkbox", id="remember-me")
                        label(for="remember-me") Remember me

                .row
                    .input-field.col.s12
                        button(type="submit", class="btn waves-effect waves-light col s12") Login
                .row
                    .input-field.col.s6.m6.l6
                        p.margin.medium-small
                            a(href="/register") Register Now!

                    .input-field.col.s6.m6.l6
                        p.margin.right-align.medium-small
                            a(href="/register") Forgot password?
