extend layout

block append stylesheets
    style(type="text/css").

block append javascripts
    script.
        $('.fab').click(function(e) {
          $(this).toggleClass('active');
        });

block content

    #login-page.container

        h1.site-title Absinthe Reviewer

        .card-panel

            h1 #{message}

            form.login-form(action="/login", method="post")

                .login-icon
                    .login-icon-bg
                        i.material-icons person

                .input-field.active
                    input(id="username", name="username", type="text", placeholder="Enter your username")
                    label.hide(for="username") Username

                .input-field.active
                    input(id="password", name="password", type="password", placeholder="Enter your password")
                    label.hide(for="password") Password

                .input-field.center
                    button.btn-large.primary.waves-effect.waves-light(type="submit") Login
                        i.material-icons.right input
