extends userLayout

block link
    -var selected = '/users/add'

block append javascripts
    script.
        $("#userForm").validate();

block userBody

    form#userForm(role='form', method="post", action="/users/save", enctype="application/x-www-form-urlencoded")

        .card-panel
            .row
                .col.s12
                    .input-field
                        input(type="text", id="username", value=data.username, required)
                        label(for="username") Username

            .row
                .col.s6
                    .input-field
                        input(type="password", id="password", value=data.password, required)
                        label(for="password") Password

                .col.s6
                    .input-field
                        input(type="password", id="password_confirm", required)
                        label(for="password") Confirm Password

            .row
                .col.s12
                    .input-field
                        input(type="text", id="fullName", required)
                        label(for="fullName") Name

            .row
                .col.s12
                    .input-field
                        input(type="email", id="email", required)
                        label(for="email") Email

        .row
            .col.s12
                button.right.waves-effect.waves-light.btn-large(type="submit") Save User