extends ./layout

append infoContent

    .section

        h3 How to prepare absinthe

        p.flow-text Preparing absinthe using the traditional method, which does not involve burning.

        h4 Traditional

        p Absinthe spoons are designed to perch a sugar cube atop the glass, over which ice-cold water is dripped to dilute the absinthe. The lip near the centre of the handle lets the spoon rest securely on the rim of the glass.

        p The traditional French preparation involves placing a sugar cube on top of a specially designed slotted spoon, and placing the spoon on a glass filled with a measure of absinthe. Iced water is poured or dripped over the sugar cube to slowly and evenly distribute the water into the absinthe. The final preparation contains 1 part absinthe and 3-5 parts water. As water dilutes the spirit, those components with poor water solubility (mainly those from anise, fennel, and star anise) come out of solution and cloud the drink. The resulting milky opalescence is called the louche (Fr. opaque or shady, IPA [luʃ]). The release of these dissolved essences coincides with a perfuming of herbal aromas and flavours that "blossom" or "bloom," and brings out subtleties that are otherwise muted within the neat spirit. This reflects what is perhaps the oldest and purest method of preparation, and is often referred to as the French Method.


    .section

        h4 Bohemian
        p The Bohemian Method is a recent invention that involves fire, and was not performed during absinthe's peak of popularity in the Belle Époque. Like the French method, a sugar cube is placed on a slotted spoon over a glass containing one shot of absinthe. The sugar is pre-soaked in alcohol (usually more absinthe), then set ablaze. The flaming sugar cube is then dropped into the glass, thus igniting the absinthe. Finally, a shot glass of water is added to douse the flames. This method tends to produce a stronger drink than the French method. A variant of the Bohemian Method involves allowing the fire to extinguish on its own. This variant is sometimes referred to as "Cooking the Absinthe" or "The Flaming Green Fairy." The origin of this burning ritual may borrow from a coffee and brandy drink that was served at Café Brûlot, in which a sugar cube soaked in brandy was set aflame. Most experienced absintheurs do not recommend the Bohemian Method and consider it a modern gimmick, as it can destroy the absinthe flavour and present a fire hazard due to the unusually high alcohol content present in absinthe.

    .section

        h4 Burning the sugar

        p In 19th century Parisian cafés, upon receiving an order for an absinthe, a waiter would present the patron with a dose of absinthe in a suitable glass, sugar, absinthe spoon, and a carafe of iced water. It was up to the patron to prepare the drink, as the inclusion or omission of sugar was strictly an individual preference, as was the amount of water used. As the popularity of the drink increased, additional accoutrements of preparation appeared, including the absinthe fountain, which was effectively a large jar of iced water with spigots, mounted on a lamp base. This let drinkers prepare a number of drinks at once—and with a hands-free drip, patrons could socialise while louching a glass.

        p Although many bars served absinthe in standard glassware, a number of glasses were specifically designed for the French absinthe preparation ritual. Absinthe glasses were typically fashioned with a dose line, bulge, or bubble in the lower portion denoting how much absinthe should be poured. One "dose" of absinthe ranged anywhere from around 1-1.5 fluid ounces (30-45 ml).

        p In addition to being prepared with sugar and water, absinthe emerged as a popular cocktail ingredient in both the United Kingdom and the United States. By 1930, dozens of fancy cocktails that called for absinthe had been published in numerous credible bartender guides. One of the most famous of these libations is Ernest Hemingway's "Death in the Afternoon" cocktail, a tongue-in-cheek concoction contributed to a 1935 collection of celebrity recipes. The directions are as follows: "Pour one jigger absinthe into a Champagne glass. Add iced Champagne until it attains the proper opalescent milkiness. Drink three to five of these slowly.