extends ./layout

append infoContent

    .section

        h3 How to Taste Absinthe
        p.flow-text In spite of all the fuss made about the “absinthe ritual”, it’s really not much more complicated than fixing a cup of tea. However a bit of extra attention should be paid to the process when preparing absinthe for evaluation purposes. Most important is the need for consistency: every absinthe should be prepared the same way, every time. Once you develop your own style and rhythm you’ll likely find that you always pour that way.

    .divider
    .section

        h4 The Glass
        p The best glass for this purpose will be clear (no color), fairly heavy (to retain cold), have a wide mouth (to facilitate nosing), and have a 7 oz. or more capacity. It’s helpful if the glass has features such as lines, flutes, facets or decorative markings which make it easy to pour a consistent portion each time. Failing this, use a permanent marker and a 1 oz. measure to make marks at the absinthe dose level and at the full, water-and-absinthe level.

    .divider
    .section

        h4 The Portion
        p One normal absinthe drink is usually 1 U.S. fluid ounce of absinthe, or about 30 ml.

    .divider
    .section

        h4 The Water
        p Use clear, pure spring-water or purified tap-water if available. Distilled or reverse osmosis purified water lacks minerals and can lend an increased dry astringency to the absinthe.
        p Use water that’s absolutely as cold as you can possibly make it. One way to do this is to fill your fountain, carafe or pitcher completely with ice. Then slowly add water while stirring vigorously. Always give the water a good stir right before pouring or dripping.

    .divider
    .section

        h4 The Dilution
        p Pre-ban style absinthe was made with the intention of being tempered with water. How much water?  Well... that's where it gets tricky and is subject to personal taste and opinion. A very common recommendation is 3 to 5 parts water to 1 part absinthe. Several  producers of absinthe in the pre-ban era recommended a specific ratio of 5 parts water to 1 part absinthe. Other well-informed drinkers simply pick a ratio such as 3 parts water to 1 part absinthe and run with that. And there are others. So what is correct?
        p The simple answer is: whatever is satisfying to the particular drinker is correct, especially in the context of casual consumption. Let's face it. It's your absinthe. You may drink it any way you like. So let's take a look at some of these methods.
        h5 3 To 5 Parts Water To 1 Part Absinthe
        p This is probably the most common recommendation both by producers and informative sources, and it can be interpreted a couple of ways. First, because specific products carry this recommendation, implied is a wide range of acceptability of final dilution. If we accept that the most common bottled abv (alcohol by volume) of absinthes is from 56% to 72%, the final alcohol of the drink would range from 14% to 18% at the high end (the 3:1 ratio) to 9.33% to 12% at the low end (the 5:1 ratio). Second, as a recommendation not specific to any particular absinthe, it could also be interpreted that one should temper their absinthe with a little less water if the bottled abv is lower, and somewhat more water if the bottled abv is higher, thus implying that the recommendation for final alcohol is more consistent (and a narrower range) than the first model.
        h5 A Specific Dilution Ratio For A Specific Absinthe
        p Recommended by one of the finest products of the Belle Epoque, bottled at a very common and classic 68% abv, this (a 5:1 ratio) results in a final drink with 11.33% alcohol. Now it is doubtful they thought the consumers measurements would be so exact that every glass drunk would be 11.33%, so some take this to imply an ideal range of around 11% to 12%. Of course, because all absinthes are not bottled at the same abv, different ratios would be necessary to achieve this final alcohol percentage with absinthes bottled at other than 68%. One member here at the Wormwood Society has actually constructed a chart to guide those driven more to this approach. And a very useful feature is that the chart is wide enough to show final alcohol percentages both stronger and weaker than the proposed ideal range, if that is your personal preference.
        h5 A Specific Dilution Ratio Used For All Absinthes
        p This approach presumes that the intent is for absinthes of higher bottled abv to be consumed at a higher final alcohol percentage, and those that are bottled at lower abv to be consumed at a lower final alcohol percentage. To return to the first example of a 3:1 ratio, and assuming bottled abvs of between 56% and 72%, this would again result in final alcohol percentages of 14% to 18%.
        h5 Forget The Ratios, I Just Want To Drink My Absinthe!
        p Try slowly adding water while watching the ‘hydrophobic’ layer of undiluted absinthe rise to the top of the clouding absinthe and water mixture below it. When the mixture is completely cloudy (the point where the undiluted line disappears), stir, smell, and taste the drink and then stop or slowly add more water to your preference.
        p Another very interesting and informative practice for anyone new to absinthe, or for that matter when a particular absinthe is new to an experienced drinker, is to start the dilution at a ratio resulting in a stronger final abv (such as around 18% to 20%), and during tasting add a little more water maybe every couple of sips to see how the profile changes. In general, as dilution increases from this level, the impression of heat from alcohol, and numbing, primarily from anise, and a sense of “spiciness”, will gradually subside, just as the more delicate herbs and flowers will gradually come forward. The quest of most absinthe drinkers is to find the “just right” point of balance on that continuum, for them. Remember, you can't really ruin the glass as long as you have more absinthe to add back in, if you feel you have over-diluted the drink. You will want to be careful, however, with this practice when preparing anything irreplaceable, rare and expensive.
        p All this said, the preparation of absinthe for evaluation purposes requires consistency. No matter what your personal preferences as to method, applying the same methodology, in approach to each absinthe one evaluates, is most fair, and assures that each is afforded the same potential opportunity in evaluation.

    .divider
    .section

        h5 To Sugar or Not?
        p It’s entirely up to you, just like with coffee or tea. However, you should remain consistent and always evaluate absinthes the same way. Perhaps trying a glass both ways will demonstrate interesting things about your personal preferences.