#tips-appearance.modal.modal-fixed-footer
    .modal-content
        h5 Appearance
        p The Appearance is composed of the hue, depth-of-color, and clarity, before water is added.
        p The famous green hue of absinthe is actually an incidental effect of the secondary infusion of finishing herbs. The real intent of this infusion isn’t specifically to color the absinthe, but to provide additional flavors and aromas. The green color is an attractive bonus resulting from the chlorophyll extracted during the infusion.
        p Since chlorophyll degrades rapidly in light, particularly sunlight, absinthe should be bottled in dark glass and kept away from direct light. Older absinthes may turn yellow, amber, or even brownish with time and may still retain excellent quality. However if this degradation is allowed to happen rapidly it’s nearly always accompanied by a loss in quality and the introduction of off-flavors and smells.
        p Although there is historical precedent for artificially colored absinthes, they have always been considered of lesser quality.
        p However, for review purposes here, any artificially colored absinthe is to be evaluated based on the same criteria as a naturally colored one. Most artificially colored absinthes will lack the flavor and aroma qualities accompanying natural coloration, and will be more monochromatic than nuanced, thus limiting their scoring potential within the system. Fortunately, according to US law, all artificial coloring must be disclosed on distilled spirits labels.

        strong Hue
        p The hue should be natural and organic-looking and should be pleasing and have nuance. Verte (green) and blanche (clear white, colorless) are the traditional colors. Deep yellow and golden-brown amber hues known as “feuille mort” (“dead leaf”) are acceptable, even desirable, in vintage absinthes. Rouges (reds), while very rare, weren’t unknown but there is no consensus on evaluation.
        p The ideal hue of a verte absinthe has almost universally been described as “peridot” or "emerald" after the stones of those names. Peridot is a lighter, slightly yellowish shade of green, as distinct from the slightly bluish emerald hue.

        strong Depth
        Ideally, an absinthe will have a rich, vibrant hue; not so pale as to appear watery, and not at all dark. A deep, heavy green indicates over-finishing, whether from too much herbal matter in the finish, or too spending too long in infusion. Over-finished absinthe will often have an unappealing, muddy, “pea soup algae” appearance after adding water. If not properly stored, these absinthes will also quickly develop a greater abundance of chlorophyll degradation compounds, affecting their flavor and aroma.

        strong Clarity
        p Clarity or brilliance indicates that the absinthe is free of haze or suspended herbal particulate and starches which can result from improper finishing. These can appear as haze, cloudiness or as small clumps of cloud-like flocculate floating suspended in clearer liquid.
        p While a very light sediment can be acceptable in a naturally finished absinthe, when decanted into a glass the absinthe should be perfectly clear and gemstone brilliant, with flashing reflections and no haze.
        p In a blanche, or white absinthe, the appearance should be crystal clear, diamond brilliant, and free of any tint or hue (absolutely colorless).

        strong Key Qualities:
            | natural, attractive, brilliant

        strong Appearance Scoring Tips:
        ol
            li Totally inappropriate or uncharacteristic.
            li Artificial looking, substandard or deficient.
            li Acceptable, but hazy/contaminated, too light or dark.
            li Correct, clear, bright, natural, attractive.
            li Topnotch, vibrant, jewel-like, nuanced.

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


#tips-louche.modal.modal-fixed-footer
    .modal-content
        h5 Louche
        p The "Louche" is the final clouded effect and condition of absinthe after cold water is added.
        p Sometimes referred to as the “ouzo effect”, its characteristics are indicators of the quantity and quality of botanical oils in the absinthe. The majority of oil present will be anethole from the aniseed and fennel but other botanicals, particularly seeds and spices, also contribute. Leafy matter such as the wormwoods, melissa and hyssop make no significant contribution to the louche.
        p The louche should be rich, but translucent, so that light and reflections pass though the bottom, more narrow part of the liquid, giving warm amber highlights with shots of blue and green. This is the origin of the legendary “opalescence” of absinthe and indicates a healthy but restrained quantity of anise and other oil-rich botanicals in the recipe. It shouldn’t be chalky or flat, not too thick or milky, but contain interesting refractory effects. Nor should it be so thin as to be nearly transparent.
        p An overly thick louche often portends a taste which is too heavy with anise—possibly from injudicious use of star anise—and will usually be overly tongue-numbing; while a too-thin louche may lack fullness and flavor. Too much star anise can also be responsible for an opaque, flat and chalky-looking louche.
        p Some makers of faux absinthe aim to appeal to consumers who lack an appreciation for aniseed and fennel. Knowing that a good louche is an expected characteristic of absinthe, they have actually used other botanical matter, such as gums or resins, to achieve a louche effect in the absence of anethole. These often leave a sticky, non-water-soluble residue on the inside of the glass and on the drinker’s lips. Ironically this is a case of history repeating itself, as this tactic is identical with that used by inferior and faux brands of a century ago.
        p During the addition of water to absinthe, a variety of swirling, rolling, clouding effects, accompanied by trails following the path of the water into the absinthe, may be seen. While this is one of the attractive characteristics associated with the preparation and consumption of absinthe, the variables involved, including water temperature, method and speed of pour, the amount of turbulence caused by the pour, ABV, amount of anethole and its source (star anise, green anise, or anise oil), all combine in so many ways that louche action is no indicator of an absinthe's quality.  As such, "louche action" is not to be considered in the Louche Rating.  Comments may include these observations, however.
        p Be sure not to over-water or under-water your drink. In general, ratios of three to five parts water to one part absinthe will work for evaluation purposes. Indeed, these are the ratios at which absinthe was drunk in the pre-ban era and which most quality brands are formulated for. For more detailed information concerning dilution, see the “How To Taste” section, “The Dilution”.

        strong Key Qualities:
            | opalescent, nuanced, rich

        strong Louche Scoring Tips:
        ol
            li None.
            li Very slight, almost none.
            li Acceptable, but too translucent or opaque, one-dimensional.
            li Correct, attractive, opalescent.
            li Defined, highly opalescent, three-dimensional.

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


#tips-aroma.modal.modal-fixed-footer
    .modal-content

        h5 Aroma
        p The aroma of absinthe comprises the smells of the fundamental components, such as those of the “trinity” (wormwood, anise, and fennel), and the more subtle and complex impressions resulting from the combinations of the fundamentals and influences of the absinthe making processes, and aging if applicable, after water has been added.
        p The principle botanicals in absinthe are anise and wormwood, but other botanicals should be evident in the aroma besides these. The fragrance of good absinthe has been compared with the smell of an alpine meadow on a mild spring day. The best absinthes have been described as a soft, spicy and complex floral perfume.
        p Wormwood is an unfamiliar fragrance these days, so it’s difficult to describe in print, but it has a clean, fresh, floral, slightly minty, camphorous quality. It’s fairly unusual on its own and not particularly enticing, but when blended with anise and fennel, it becomes immediately apparent why this drink was so popular.
        p Ideally, the aroma dramatically increases and expands or blooms when the water is added, as the plant oils come out of solution with the alcohol. A pleasant fragrance should fill the air in the surrounding area. There should be a good balance of the components, and while slight imbalances are what create the individual character of each absinthe, gross imbalances are not desirable and are always considered a fault.
        p Comments may include observations of the aroma neat, but they are not to be considered in the “Aroma” rating.
        p Absinthe shouldn’t smell grassy, vegetal, sea-weedy, vinegary or strongly of “black jelly beans.” The latter is almost always a sign of over-use of star anise. It also should not smell excessively of alcohol, neat or louched, but rather have a good balance of the alcohol and other components. The smell of over-cooked artichokes or cabbage is indicative of poor distilling technique. This is the smell of the end fraction of a distilling run, the “tails,” which should be discarded or—when using the traditional Absinthe Suisse process—added to subsequent batches. Since the tails can contain a fair amount of expensive alcohol, some distillers choose economy over quality. Any of these should be considered serious flaws.

        strong Key Qualities:
            | balanced, complex, alluring

        strong Aroma Scoring Tips:
        ol
            li Inappropriate, unpleasant, or predominately alcohol.
            li Too weak/strong, peculiar, or very unbalanced.
            li Acceptable, but idiosyncratic or undistinguished.
            li Correct, alluring, intriguing, very pleasant, clean.
            li Distinctive, complex, balanced, expansive.

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


#tips-flavor.modal.modal-fixed-footer
    .modal-content

        h5 Flavor and Mouthfeel
        p The flavor of absinthe comprises the tastes of the fundamental components, such as those of the “trinity” (wormwood, anise, and fennel), and the more subtle, complex, and compounded taste sensations resulting from the combinations of the fundamentals and influences of the absinthe making processes, and aging if applicable, after water has been added.
        p Mouthfeel is the combination impression comprising sense of weight, or body, and the tactile perceptions, or texture.
        p As with the aroma, the best absinthes are complex and interesting, with subtle, enigmatic, and mysterious flavors, the sum of which are very refreshing.
        p Anise and fennel should definitely be in the forefront—absinthe is an anise drink—but they must be balanced with that of the wormwood and other herbs and not remind one of licorice candy. Star anise is the main culprit of this flaw.
        p Star anise is an inexpensive alternative to the better quality aniseed and fennel seed. Star anise oil is used as a flavoring in licorice confections and liqueurs such as sambuca and economy brands of ouzo and raki. Hence, it’s a very familiar—and very strong—flavor. Nearly all economy or mass-produced absinthes use star anise oil as a flavoring additive rather than being distilled from genuine aniseed and fennel seed.
        p Absinthe should taste mildly bitter and slightly dry and astringent, but not overpoweringly so; no more so than tea or coffee. It shouldn’t taste grassy or spinachy. While mint is among the traditional herbs sometimes used, it should appear to be in balance, and not overpower the more subtle herbs. Nothing is as inauthentic as an absinthe that tastes more like mint schnapps.
        p Absinthe is intended to be a mild aperitif, and the mouthfeel should support this. There should be some sense of weight, but it should not be overbearing on the palate, certainly not to the extreme of seeming heavy and chewy. Its texture should be smooth, silky, clean, and dryish, never grainy, oily, sticky, or slippery. While some light tingliness or slight numbing of the palate can occur, an aggressive “pointed” prickliness, usually caused by overuse or exclusive use of star anise, is not desirable and should be considered a flaw.
        p Just as with coffee or tea, whether or not to sugar absinthe is entirely a personal preference and is genetically influenced. Those who perceive absinthe as bitter or astringent enough to always require sugar, as opposed to those who perceive anise as a form of sweetness on its own, don’t simply have differing opinions about an identical experience, they literally experience the taste differently. They are having two different experiences. You may hear someone say that a particular absinthe “doesn’t need sugar” but this is an uninformed opinion. The sugar is for the drinker, not the absinthe!
        strong Key Qualities:
            | balanced, interesting, refreshing.

        strong Flavor And Mouthfeel Scoring Tips:
        ol
            li Unpleasant or inappropriate.
            li Highly flawed, very unbalanced, or peculiar.
            li Appropriate, but idiosyncratic or undistinguished.
            li Correct, interesting, pleasant, enjoyable.
            li  Rich, complex, well balanced, delicious.

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


#tips-finish.modal.modal-fixed-footer
    .modal-content

        h5 Finish
        p The finish of absinthe comprises the lingering flavor impressions and tactile palate sensations after the louched drink has been swallowed, or expectorated (spit out).
        p The finish should be smooth, dryish, slightly bitter, fresh and crisp, and have good length (duration). It shouldn’t be excessively tongue-numbing, although some numbing from the anethole is to be expected if several glasses are drunk. Unpleasant bitterness should be penalized heavily.
        p Finishes can range in style from a very “straight line” fade of all of the palate impressions, to much more complex, with changing of the emphasis of various flavor and tactile elements as it lingers. Since both can be satisfying, it is the quality and length of the finish, not the style, that should be considered in evaluation.
        p The finish should never be harshly drying or prickly. This is usually caused by an excessive or exclusive use of star anise in the formulation. A lingering mouth-coating, bitter, metallic-yet-buttery sensation, especially when accompanied by the above mentioned artichoke flavor/smell, is undoubtedly tails and is a mark of poor craftsmanship. These both should be considered serious flaws.
        strong Key Qualities:
            | crisp, clean, pleasant.

        strong Finish Scoring Tips:
        ol
            li Uncharacteristic, off-putting, or offensive.
            li Recedes quickly, or lingers unpleasantly.
            li Lingers pleasantly, no outstanding characteristics.
            li Interesting, intriguing, complex, long.
            li Exceptional, detailed, balanced, very long.

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close


#tips-overall.modal.modal-fixed-footer
    .modal-content

        h5 Overall Impression
        p The overall impression is the reviewer's best estimate of where the absinthe they are reviewing falls into a range of quality for the entire category.
        p While it would be unusual for a particular absinthe to score as widely as both a “1” and a “5” in separate criteria, it is not unusual for absinthes of various quality levels to score over a range in the individual criteria. This category serves to equalize and ground, to some degree, the scorings in the other categories.
        p The reviewer's conclusion of overall impression should be almost unconsidered of the scores in the other criteria, and should be more a question of: As a whole, into which level do I think this absinthe most appropriately fits?

        strong Overall Impression Scoring Tips:
        ol
            li Unacceptable.
            li Barely acceptable, needs major improvement.
            li Acceptable, idiosyncratic or proper mid-market standard.
            li Above average, enticing, interesting, artisanal.
            li Uncommonly exceptional, distinctive, world-class, elite.

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
