.ui.small.menu
    a.active.item(href="/review/") List
    a.item(href="/review/add") Add
    .right.menu
        .item
            .ui.button Save
        .ui.dropdown.item
            i.ellipsis.vertical.icon
            .menu
                a.item(href="/review/add") #[i.table.icon] One
                a.item(href="/review/add") #[i.trash.red.icon] Two
