block link
    - var selected = '/review' // Default

// ul#dropdown1.dropdown-content.left

//     li: a#deleteAlla(href="#", title="Delete Selected")
//          i.material-icons.small.left
//             | delete
//          | Delete
//     each item in menuItems
//         if selected === item.link
//             li: a(href=item.link, title=item.title)
//                 i.material-icons.small.left
//                     =item.iconClass
//                 =item.title
//         else
//             li: a(href=item.link, title=item.title)
//                 i.material-icons.small.left
//                     =item.iconClass
//                 =item.title

// ul.hide-on-med-and-down.right
//     li: a.dropdown-button(href="#!", data-activates="dropdown1", data-constrainwidth="false", data-alignment="right",
//         class="waves-effect waves-circle black-text waves-green waves-light right")
//         i.material-icons more_vert

.fixed-action-btn.horizontal.click-to-toggle(style="position: absolute; display: inline-block; right: 24px; bottom: 24;")
    a.btn-floating.btn-large.red: i.large.material-icons add
    ul
        li: a.btn-floating.red: i.material-icons insert_chart
        li: a.btn-floating.yellow.darken-1: i.mdi-action-speaker-notes Review
        li: a.btn-floating.green: i.material-icons publish
        li: a.btn-floating.blue: i.material-icons attach_file