block link
    -var selected = '/review' // Default

.fixed-action-btn(style="position: absolute; display: inline-block; right: 24px; bottom: 24;")
    a.btn-floating.btn-large.red.tooltipped(data-position="left", data-delay="0", data-tooltip="Create")
        i.large.material-icons add
    ul
        li: a.btn-floating.blue.lighten-1.tooltipped(href="/users/add", data-position="left", data-delay="0", data-tooltip="User")
            i.material-icons face
        li: a.btn-floating.green.lighten-1.tooltipped(href="/review/add", data-position="left", data-delay="0" data-tooltip="Review")
            i.material-icons star
