block link
    -var selected = 'review'; //default

-var menu = { '/review':'List', '/review/add':'Add' };

.ui.small.menu
    each val, key in menu
        if selected === key
            a.item.active(href=key, title=val)= val
        else
            a.item(href=key, title=val)= val
    .right.menu
        .item
            .ui.button Save
        .ui.dropdown.item
            i.ellipsis.vertical.icon
            .menu
                a.item(href="/review/add") #[i.table.icon] One
                a.item(href="/review/add") #[i.trash.red.icon] Two