extends ./layout

block absinthesContent

	if !data.length
		.center-align
			h2: .section No Results
			br
			a.btn-large(href="/absinthes/create")
				| Add an Absinthe

	else
		.card
			form#absintheListForm(role='form', method='post')
				.collection
					each row in data
						.collection-item
							i.material-icons
								img(src="/images/absinthe.png", height="25")
							a.title(href= "/absinthes/edit/#{row._id}")
								if row.name
									=row.name
								else
									=row

							a.modal-trigger.secondary-content(href="#confirmModal", title=" Delete")
								i.material-icons delete
							#confirmModal.modal
								.modal-content
									h4 Modal Header
									p Are you sure you want to delete this absinthe?
								.modal-footer
									a(href="/absinthes/delete/#{row.id}", class=" modal-action modal-close waves-effect waves-green btn-flat") Delete Now
									a(href="#!", class=" modal-action modal-close waves-effect waves-red btn-flat") Cancel
