extends ./layout

include includes/deleteModal

append javascripts
	include includes/editModal

block absinthesContent

	if !data.length
		.center-align
			h2: .section No Results
			br
			a.btn-large(href="/absinthes/create")
				| Add an Absinthe

	else
		.card
			form#absintheListForm(role='form', method='post')
				.collection
					each row in data
						.collection-item
							i.left
								img(src="/images/absintheglass.svg", height="24")
							a.title(href= "/absinthes/edit/#{row._id}")
								if row.name
									=row.name
								else
									=row

							+deleteModal(row.id)
							+editModal()
